---
layout: single
classes: wide
author_profile: true
---

<div id="kuku">
  <table>
    <tr>
        <th>שם</th>
        <th>פתיחה</th>
        <th>סגירה</th>
        <th>תיאום</th>
        <th>תשלום</th>
        <th>טלפון</th>
        <th></th>
    </tr>
    {% assign siteData = site.data.northSites  %}
    {% assign siteDataSorted = siteData | sort: "order" %}
    {% for siteData in siteDataSorted %}
        <tr>
            <td>{{ siteData.name }}</td>
            <td>{{ siteData.open }}</td>
            <td>{{ siteData.close }}</td>
            <td>{{ siteData.coordination }}</td>
            {% assign payment =siteData.payment|strip %}
            <td> {% if payment =="כן"   %}
                {{ siteData.payment }}
                {% else %}
                <a href={{ siteData.payment }} target="_blank">לתשלום </a> 
                {% endif%}
                </td>
            <td> <a href=tel:{{ siteData.tel }} >{{ siteData.tel }} </a> </td>
            <td><a href={{ siteData.site }} target="_blank">לאתר </a> </td>
        </tr>
    {% endfor %}
  </table>
    

   
</div>
    
<div>{{ content }}</div>
    