---
layout: single
classes: wide
author_profile: true
---

<ul class="tree">
    <li>
      <details open>
        <summary>תקופות</summary>
        <ul>
          <li>
            <details  >
              <summary>
                <div class="container">
                    <div class="year">-1200</div>
                    <div class="year">-586</div>
                    <div class="text">תקופת הברזל</div>
                </div>
            </summary>
              <ul>
                <li>
                    <div class="container">
                        <div class="year">-1150</div>
                        <div class="year">-1180</div>
                        <div class="text">חדירת הפלישתים לארץ, והיאחזותם במישור החוף הדרומי</div>
                    </div>
                    <div class="container">
                        <div class="year">-1020</div>
                        <div class="year">-930</div>
                        <div class="text">ממלכת ישראל המאוחדת - שאול,דוד ושלמה</div>
                    </div>
                    <div class="container">
                        <div class="year">-930</div>
                        <div class="year"></div>
                        <div class="text">מרד ירבעם בן נבט : פילוג הממלכה</div>
                    </div>
                    <div class="container">
                        <div class="year">-722</div>
                        <div class="year"></div>
                        <div class="text">ממלכת אשור כובשת את ממלכת ישראל הצפונית ומחריבה את בירתה שומרון. שלמנאסר החמישי מגלה חלק מהתושבים לאשור</div>
                    </div>
                    <div class="container">
                        <div class="year">-609</div>
                        <div class="year"></div>
                        <div class="text">אזור ארץ ישראל עובר לשליטת ממלכת מצרים לאחר קרב מגידו</div>
                    </div>
                    <div class="container">
                        <div class="year">-609</div>
                        <div class="year"></div>
                        <div class="text">אזור א״י חוזר לשליטת ממלכת בבל לאחר קרב כרכמיש</div>
                    </div>
              </ul>
            </details>
          </li>
          <li>
            <details  >
              <summary>
                <div class="container">
                    <div class="year">-586</div>
                    <div class="year">-332</div>
                    <div class="text">התקופה הפרסית</div>
                </div>
            </summary>
              <ul>
                <li>
                    <div class="container">
                        <div class="year">-586</div>
                        <div class="year"></div>
                        <div class="text">ממלכת יהודה נכבשת ע״י נבוכדנצר השני , חורבן הבית הראשון וגלות בבל השניה</div>
                    </div>
                    <div class="container">
                        <div class="year">-539</div>
                        <div class="year"></div>
                        <div class="text">כורש מלך פרס כובש את האימפריה הבבלית ומעניק ליהודים זכות לחזור לאטונומית יהוד מדינתא</div>
                    </div>
                    <div class="container">
                        <div class="year">-538</div>
                        <div class="year"></div>
                        <div class="text">שיבת ציון</div>
                    </div>
                    <div class="container">
                        <div class="year">-516</div>
                        <div class="year"></div>
                        <div class="text">בנית המקדש השני</div>
                    </div>
                    <div class="container">
                        <div class="year">-485</div>
                        <div class="year">-465</div>
                        <div class="text">מלכות אחשוורוש</div>
                    </div>
                    
              </ul>
            </details>
          </li>
          
        </ul>
      </details>
    </li>
  </ul>